#nav_bar {
	width:750px;
	height:50px;
	background-color:#E80000;
	color:white;
	text-align:center;
	padding:0px;
}

#nav_bar ul {
	float:left;
	padding:0;
	margin-top:15px;
	list-style:none;
}

#nav_bar li {
	width:150px;			
	display:block;
	float:left;
	padding:0;
	margin:0;
}

#nav_bar a {
	font-weight:bold;
	padding-right:2em;
	padding-right:2em;
	font-size:110%;
	display:block;		
}
